header {
	height: 80vh;
	border-bottom: 4px solid black;
}

#frontpage {
	background: linear-gradient(to bottom left, rgba(76, 94, 106, 1) -50%, rgba(166, 139, 139, 1) 100%);
	display: grid;
	padding: 20px;
	grid-gap: 10px;
	grid-template-rows: 40% 30% 30%;
	text-align: center;
	align-content: center;
}

header .grid-1 {
	grid-row: 1;
}

header .grid-2 {
	grid-row: 2;
}

header .grid-3 {
	grid-row: 3;
}

img {
	max-height: 90%;
	border: solid black 2px;
}