#wrapper {
	background-image: url("../images/background_bamboo.jpg");
	min-height: 100vh;
}

h1 {
	font-family: 'Sorts Mill Goudy', serif;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: rgb(33, 37, 41);
	padding: 10px;
}

hr {
	height: 1px;
	/* width: 40%; */
	background-color: black;
	border-radius: 40px;
	border: none;
}